                <div class="row">
                    <div class="col-lg-10">
                        <h1>Patients</h1>
                    </div>
                    <div class="col-lg-2">
                        <a href="AddPatient.html" class="btn btn-default btnAdd">Add</a>
                    </div>
                    <div id="patientList">
                        <table class="table table-bordered  table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>DOB</th>
                                    <th>Active</th>
                                    <th>Creation</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>5</td>
                                    <td>Enass</td>
                                    <td>eabuajamieh@gmail.com</td>
                                    <td>Female</td>
                                    <td> 06/26/2014</td>
                                    <td>No</td>
                                    <td>06/26/2014</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="PatientEdit">
                    </div>
                    <div id="UsersList">
                    </div>
                    <div id="UsersEdit">
                    </div>
                </div>